* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: lightgrey;
}

.header {
    background-color: white;
    padding-top: 50px;
    margin: 0 auto;
}


.main{
     padding-top: 30px;
     width: 70%;
     margin: 0 auto;
}

.text-center {
    font-family: "Comic Relief", system-ui;
    text-align: center;
}