* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: lightgrey;

}

.header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    
}

.text-center {
    font-family: "Comic Relief", system-ui;
}